<div class="mb-4">
  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th>Task Title</th>
        <th>Task Description</th>
        <th>Total Estimate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employees">
        <td>{{ row.projectDetails.project }}</td>
        <td>{{ row.projectDetails.taskTitle }}</td>
        <td>{{ row.projectDetails.taskDescription }}</td>
        <td>{{ row.projectDetails.totalEstimate }}</td>
      </tr>
      <tr *ngIf="!employees.length">
        <td
          class="text-center"
          colspan="4"
        >No Data...</td>
      </tr>
    </tbody>
  </table>
</div>